# Environmental Variables
.env
.env.local
.env.*.local
*.local

# Python
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv
venv/
ENV/
env/

# Logs
logs
*.log

# Node.js
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db
*.sw?

# Editor/IDE Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
data/duckdb_dwh.db
